# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Chroma / FAISS / Vector DB
chroma_db_chin/
chroma_db_eng/
index/
data_source/
data/
temp_tatqa_context/
files/
cleaned_data/
eval_result/
txt_output/
testset/
# Logs
*.log

# Cache
.cache/

.env
