# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Chroma / FAISS / Vector DB
chroma_db_chin/
chroma_db_eng/
faiss_index/
index/
data_source/
evaluation/golden_dataset/
evaluation/evaluation_result/
evaluation/benchmark_output/
data/
temp_tatqa_context/
files/
# Logs
*.log

# Cache
.cache/

.env
