# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Chroma / FAISS / Vector DB
chroma_db/
faiss_index/
index/
data_source/
evaluation/golden_dataset/
evaluation/evaluation_result/
evaluation/benchmark_output/
evaluation/benchmark_output/create_golden_dataset.py

# Logs
*.log

# Cache
.cache/

